@import 'reset';
@import 'vars';

@keyframes colorchange-pink {

  0% { background: var(--spekken-pink); }

  100% { background: var(--hover-pink); }
}

@keyframes colorchange-blue {

  0% { background: #44eff2; }

  100% { background: #65d86c; }
}

html {
  background-color: var(--bg-color);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}

.hidden {
  display: none;
}

nav {
  width: 100%;
  background-color: var(--bg-color);
  box-shadow: 0 0 20px var(--spekken-pink);
  position: fixed;
  top: 0;
  z-index: 99;
}

.nav {
  width: 95%;
  margin: auto;
  height: 7.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & ul {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;

    & a:hover {
      color: var(--hover-pink);
    }
  }
}

.nav-items {
  margin: 0 1rem;
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-search {
  background: var(--spekken-pink) url(../assets/img/search-icon.png) no-repeat 20rem;
  padding: .5rem 1rem;
  border-style: none;
  border-radius: 10px;
  font-size: 2rem;
  color: var(--white);

  outline-style: none;
  box-shadow: none;
  border-color: transparent;

  &::placeholder {
    color: var(--white);
  }
}

.nav-item {
  font-size: 2rem;
  font-weight: bold;
  color: var(--spekken-pink);
  text-decoration: none;
}

.header-image {
  background:
    url(../assets/img/header-title.png) no-repeat 60% 29rem,
    url(../assets/img/header-img-top.png) no-repeat 45% 0,
    url(../assets/img/header-img-left.png) no-repeat 3rem 22rem,
    url(../assets/img/header-img-right.png) no-repeat 95% 27rem,
    url(../assets/img/header-img-bottom.png) no-repeat 30% 52rem;
  width: 100%;
  height: 70rem;
}

.header-title {
  font-family: Impact, Charcoal, sans-serif;
  color: var(--spekken-pink);
  font-size: 10rem;
  text-transform: uppercase;
  margin-left: 50%;
  padding-top: 37rem;
}

main {
  position: relative;
  top: 10rem;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & a:hover {
    color: var(--hover-pink);
  }
}

.nobanner {
  width: 95%;
  margin: auto;
}

.agenda-section, .nieuws-section {
  margin: 20rem auto;
}

.nieuws-section {
  width: 95%;
}

.over-tagline, .over-facebook {
  font-size: 3rem;
  text-align: center;
  line-height: 4rem;
  font-weight: bold;
}

.over-tagline {
  width: 57rem;
  margin-left: 3rem;
  background:
    url(../assets/img/tagline-beans-left.png) no-repeat left top,
    url(../assets/img/tagline-beans-right.png) no-repeat right bottom;
  padding: 3rem 11rem 12rem 7rem;
}

.over-facebook {
  width: 50rem;
  margin-right: 15rem;
  background:
    url(../assets/img/fb-beans-left.png) no-repeat left top,
    url(../assets/img/fb-beans-right.png) no-repeat right bottom;
  padding: 18rem 2rem 7rem 3rem;
  position: relative;
  top: -5rem;

  & p {
    margin-bottom: 5rem;
  }
}

.over-tinnenpot, .over-spekken {
  width: 67rem;
  background: linear-gradient(80deg, #e9e896, #44eff2);
  box-shadow: 0 0 20px rgba(0, 0, 0, .5);

  & h2 {
    color: var(--spekken-pink);
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: bold;
  }

  & a {
    color: var(--spekken-pink);
    font-size: 2.2rem;
  }
}

.over-tinnenpot {
  height: 40rem;

  & h2 {
    width: 70%;
    margin: 6rem auto 3rem;
  }

  & p {
    width: 70%;
    font-size: 2.5rem;
    margin: 5rem auto;
    line-height: 3rem;
  }

  & a {
    margin-left: 15%;
  }
}

.over-spekken {
  height: 53rem;
  position: relative;
  right: 10rem;

  & h2 {
    width: 75%;
    margin: 10rem auto 4rem;
  }

  & p {
    width: 75%;
    font-size: 2rem;
    margin: 3rem auto;
    line-height: 2.5rem;
  }

  & a {
    margin-left: 12.5%;
  }
}

.pinkbanner {
  background-color: var(--hover-pink);

  &::before {
    content: '';
    width: 20rem;
    height: 18rem;
    background: url(../assets/img/bannercandy.png) no-repeat top left;
    position: relative;
    top: -25rem;
    left: 3rem;
  }
}

.fbLink {
  color: #3b5998;
  text-decoration: none;
  font-weight: bold;

  &:hover {
    color: #2d4373;
  }
}

.agenda-title {
  background: url(../assets/img/agenda_title.png) no-repeat;
  width: 113rem;
  height: 6rem;
  margin-left: 2.5%;
}

.nieuws-title {
  background: url(../assets/img/nieuws_title.png) no-repeat left bottom, url(../assets/img/nieuws-candy.png) no-repeat right top;
  width: 45rem;
  height: 10rem;
}

.agenda-link, .blog-link {
  text-decoration: none;

  & div {
    color: #f0eef1;
    border-radius: 30px;
    background-color: var(--spekken-pink);
    font-size: 2rem;
    font-weight: bold;

    &:hover {
      animation: colorchange-pink 1s forwards;
    }
  }

}

.agenda-link div {
  padding: 2rem 7rem;
  width: 41rem;
  margin: 3rem auto;
}

.agenda-items {
  display: flex;
  justify-content: space-between;
}

.homepage-agenda {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.agenda-item {
  width: 32rem;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  color: var(--spekken-pink);
  font-weight: bold;

  &-img {
    order: -1;
  }

  &-title {
    text-transform: uppercase;
    font-size: 2.5rem;
    margin-left: 2rem;
    position: relative;
    bottom: 5rem;
  }

  &-info {
    font-size: 2rem;
    line-height: 3rem;
    margin-left: 2rem;
    position: relative;
    bottom: 4rem;
  }

  &-date {
    font-size: 6rem;
    color: var(--white);
    text-align: right;
    text-shadow: 0 0 20px rgba(0, 0, 0, .5);
    position: relative;
    bottom: 7rem;
    right: 1rem;
  }

  &-link {
    color: var(--white);
    text-decoration: none;
    background-color: #44eff2;
    border-radius: 10px;
    align-self: center;

    & div {
      padding: 1rem 3.5rem;
    }

    &:hover {
      animation: colorchange-blue 1s forwards;
    }
  }
}

.agenda-pagina {
  width: 80%;
  flex-wrap: wrap;
  margin: 5rem auto 20rem;
}

.agenda-pagina-title {
  width: 95%;
  margin: 5rem auto;
  background: url(../assets/img/agenda.png) no-repeat;
  height: 6rem;
}

.blog-link div {
  padding: 1.3rem 4rem;
  width: 30rem;
  margin-top: 5rem;
  margin-left: -15rem;
}

.blog-article {
  margin: 5rem 0;
  display: flex;
  align-items: center;

  & h2 {
    color: var(--spekken-pink);
    font-size: 3rem;
    font-weight: bold;
    margin: 0 3rem 3rem;
  }

  & p {
    width: 45%;
    line-height: 2rem;
    margin-left: 3rem;
  }
}

.blog-article-link {
  color: var(--spekken-pink);
  font-weight: bold;
  text-decoration: none;

  &:hover {
    color: var(--hover-pink);
  }
}

.blogpicture {
  order: -99;
}

footer {
  background-color: #fdd4fc;
  line-height: 2rem;

  & h2 {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

}

.footer {
  width: 90%;
  margin: 0 auto;
  padding: 5rem 0;
  display: flex;
  justify-content: space-between;

  &::after {
    content: '';
    width: 20rem;
    height: 13rem;
    background: url(../assets/img/footer-candy.png) no-repeat top right;
    position: relative;
    top: -12rem;
    left: 6rem;
  }
}

.footer-title {
  width: 17rem;
  height: 4.5rem;
  background: url(../assets/img/logo-footer.png) no-repeat;
  margin-bottom: 5rem;
}

strong {
  font-weight: bold;
  font-size: 2rem;
}

.footer-nav {
  width: 40%;
  margin-left: 10%;
  display: flex;
  justify-content: space-between;

  &-title {
    text-transform: uppercase;
  }

  &-item {
    text-decoration: none;
    color: black;

    &:hover {
      color: var(--spekken-pink);
    }
  }
}

.footer-fb {
  width: 16%;
  margin-left: 10%;
}

.filters {
  width: 80%;
  margin: 5rem auto;
}

.periodes {
  width: 100%;
  height: 7rem;
  background-color: #44eff2;
  border: none;
  font-size: 3.5rem;
  text-align-last: center;
  text-transform: uppercase;
  color: var(--white);

}

.search-tags {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & a {
    margin: .5rem 2.5rem;
  }
}

.search {
  display: flex;
  margin: 5rem 0;

  & p {
    font-weight: bold;
  }
}

.search-age {
  width: 50%;
  display: flex;
  align-items: flex-start;

  & a {
    margin: 1rem;
  }
}

.search-tags a, .search-age a {
  border-radius: 1rem;
  text-decoration: none;
  border: 1px solid var(--spekken-pink);
  padding: .3rem 2rem;
  color: black;

  &:hover {
    background-color: var(--hover-pink);
  }
}

.agenda-detail {
  margin-bottom: 15rem;
}

.detail-alert {
  margin: 8rem 0 50vh 10rem;

  & a {
    font-weight: bold;
  }
}

.detail-breadcrumbs {
  width: 95%;
  color: var(--spekken-pink);
  font-size: 2.5rem;
  margin: 3rem auto;
  font-weight: bold;
  text-transform: uppercase;
}

.breadcrumb {
  color: var(--spekken-pink);
  text-decoration: none;

  &:hover {
    color: var(--hover-pink);
  }
}

.detail-top-flex {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail-praktisch {
  height: 30rem;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.praktisch-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

h3 {
  color: transparent;
  background: linear-gradient(80deg, #e9e896, #44eff2);
  font-size: 4rem;
  font-weight: bold;
  -webkit-background-clip: text; /* stylelint-disable-line */
  padding-bottom: 1rem;
}

.praktisch-icons {
  display: flex;

  & img {
    margin-right: 2rem;
  }
}

.detail-title {
  width: 90%;
  color: var(--spekken-pink);
  font-size: 6rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 5rem auto;
}

.detail-description {
  margin: 0 auto;
  width: 90%;

  & p {
    width: 70%;
    line-height: 2rem;
  }

  & a {
    color: var(--spekken-pink);
    font-weight: bold;

    &:hover {
      color: var(--hover-pink);
    }
  }
}

/* MEDIA QUERIES */

@media (width <= 1350px) {

  .pinkbanner::before {
    width: 35rem;
  }

  .over-facebook {
    margin-right: 5rem;
  }
}

@media (width <= 1180px) {

  .agenda-title {
    background: url(../assets/img/agenda_title_2.png) no-repeat;
    width: 80rem;
    height: 4rem;
  }
}

@media (width <= 1150px) {

  .logo img {
    width: 16.7rem;
    height: 4.5rem;
  }

  .nav ul {
    width: 70%;
  }

  .nav-items {
    width: 70%;
  }

  .header-image {
    background:
      url(../assets/img/header-title-2.png) no-repeat 60% 29rem,
      url(../assets/img/header-img-top.png) no-repeat 45% 0,
      url(../assets/img/header-img-left.png) no-repeat 3rem 22rem,
      url(../assets/img/header-img-bottom.png) no-repeat 30% 52rem,
      url(../assets/img/header-img-right.png) no-repeat 95% 27rem;
    width: 100%;
    height: 70rem;
  }

  .header-title {
    padding-top: 45rem;
  }

  .over-tagline, .over-facebook {
    font-size: 2.5rem;
  }

  .over-tinnenpot {

    & h2 {
      font-size: 3rem;
    }

    & p {
      font-size: 2.2rem;
    }
  }

  .over-spekken h2 {
    margin-top: 5rem;
  }

  .blog-article p {
    width: 70%;
  }

  footer::after {
    width: 13rem;
  }

  .footer-fb, .footer-nav {
    margin-left: 6%;
  }

  .search-age, .search-tags {
    flex-direction: column;
    align-items: center;
  }

  .detail-top-flex {
    flex-direction: column;
  }

  .detail-praktisch {
    width: 80%;
    margin: 5rem auto;
  }

}

@media (width <= 960px) {

  .over-spekken {
    width: 120%;
  }

  .over-spekken p {
    font-size: 1.8rem;
  }

  .pinkbanner::before {
    width: 60rem;
  }

  .footer-fb {
    width: 25%;
  }

  .footer-nav {
    width: 60%;
  }

  .footer::after {
    background-image: none;
    width: 1rem;
  }

}

@media (width <= 860px) {

  .nav input {
    display: none;
  }

  .nav ul {
    width: 90%;
  }

  .header-image {
    background:
      url(../assets/img/header-title-3.png) no-repeat 70% 29rem,
      url(../assets/img/header-img-top.png) no-repeat 80% 0,
      url(../assets/img/header-img-left.png) no-repeat 3rem 22rem,
      url(../assets/img/header-img-bottom.png) no-repeat 30% 52rem;
    width: 100%;
    height: 70rem;
  }

  .info, .blog-article {
    flex-direction: column;
  }

  .over-tagline, .over-facebook {
    width: 100%;
  }

  .over-facebook {
    margin: 0;
    padding-top: 10rem;
    top: -10rem;
  }

  .over-spekken {
    width: 100%;
    height: 45rem;
    right: 0;
    top: -18rem;
  }

  .over-spekken p {
    font-size: 2.2rem;
  }

  .pinkbanner::before {
    top: -10rem;
  }

  .agenda-title {
    background: url(../assets/img/agenda_title_3.png) no-repeat;
    width: 60rem;
    height: 15rem;
  }

  .blog-article p {
    width: 80%;
  }

  .blog-link div {
    margin-left: 3rem;
  }

  .footer-nav {
    flex-direction: column;
    width: 30%;
  }

  .footer-nav, .footer-fb {
    margin-left: 10%;
  }

  .footer-nav-section {
    margin-bottom: 1.5rem;
  }
}

@media (width <= 750px) {

  .nav ul {
    width: 100%;
  }

  nav {
    position: initial;
  }

  .header-image {
    background:
      url(../assets/img/header-title-3.png) no-repeat 10% 12rem,
      url(../assets/img/header-img-top.png) no-repeat 80% -10rem,
      url(../assets/img/header-img-bottom.png) no-repeat 30% 40rem;
    width: 100%;
    height: 60rem;
  }

  .header-title {
    padding-top: 27rem;
    margin-left: 30%;
  }

  .over-tinnenpot {
    width: 90%;
  }

  .agenda-title {
    background: url(../assets/img/agenda_title_4.png) no-repeat;
    width: 42rem;
    height: 10.5rem;
  }

  .agenda-link div {
    padding: 1rem 4.5rem;
    width: 35rem;
  }

  .over-spekken h2 {
    margin-top: 6rem;
  }

  .over-spekken p {
    font-size: 1.8rem;
  }

  .agenda-pagina-title, .detail-breadcrumbs {
    margin-top: -5rem;
  }

  .detail-image img {
    width: 40rem;
    height: auto;
  }

  h3 {
    font-size: 3rem;
  }

  .detail-title {
    font-size: 10vw;
  }
}

@media (width <= 550px) {

  .nav {
    height: 10rem;
  }

  .nav li {
    margin: .5rem 0;
  }

  .nav ul {
    flex-direction: column;
  }

  .nav-items {
    width: 95%;
    margin: auto;
  }

  .header-image {
    background:
      url(../assets/img/header-title-3.png) no-repeat 10% 12rem,
      url(../assets/img/header-img-top.png) no-repeat 80% -10rem,
      url(../assets/img/header-img-bottom.png) no-repeat 30% 40rem;
    width: 100%;
    height: 60rem;
  }

  .header-title {
    padding-top: 27rem;
    margin-left: 10%;
  }

  .over-tagline, .over-facebook {
    font-size: 2.2rem;
    line-height: 2.7rem;
    margin-left: 0;
  }

  .over-spekken {
    height: 47rem;
  }

  .over-spekken h2 {
    margin-top: 3rem;
  }

  .nieuws-title {
    background: url(../assets/img/nieuws_title.png) no-repeat left bottom, url(../assets/img/nieuws-candy.png) no-repeat right top;
    width: 39rem;
    height: 10rem;
  }

  .blogpicture {
    width: 70%;
    height: auto;
  }

  .footer {
    flex-direction: column;
    width: 70%;
    margin: auto;
    padding-bottom: 0;
  }

  .footer-fb, .footer-nav {
    margin-left: 0;
    margin-top: 3rem;
    width: 100%;
  }

  .detail-praktisch {
    flex-direction: column;
    height: 60rem;
    align-items: center;
  }

  .praktisch-icons {
    margin-bottom: 5rem;
  }

}

@media (width <= 430px) {

  .over-tinnenpot {
    height: 45rem;
  }

  .over-spekken {
    height: 50rem;
  }

  .agenda-title {
    background: url(../assets/img/agenda_title_5.png) no-repeat;
    width: 30.5rem;
    height: 7.5rem;
  }
}
