@import 'reset';
@import 'vars';

html {
  background-color: var(--bg-color);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}

.hidden {
  display: none;
}

nav {
  box-shadow: 0 0 20px var(--spekken-pink);
}

.nav {
  width: 95%;
  margin: auto;
  height: 7.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & ul {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;

    & a:hover {
      color: var(--hover-pink);
    }
  }
}

.nav-search {
  background: var(--spekken-pink) url(../assets/img/search-icon.png) no-repeat 20rem;
  padding: .5rem 1rem;
  border-style: none;
  border-radius: 10px;
  font-size: 2rem;
  color: var(--white);

  outline-style: none;
  box-shadow: none;
  border-color: transparent;

  &::placeholder {
    color: var(--white);
  }
}

.nav-item {
  font-size: 2rem;
  font-weight: bold;
  color: var(--spekken-pink);
  text-decoration: none;
}

.header-image {
  background:
    url(../assets/img/header-img-top.png) no-repeat 45% -7rem,
    url(../assets/img/header-img-left.png) no-repeat 3rem 15rem,
    url(../assets/img/header-img-right.png) no-repeat 95% 20rem,
    url(../assets/img/header-img-bottom.png) no-repeat 30% 45rem,
    url(../assets/img/header-title.png) no-repeat 60% 22rem;
  width: 100%;
  height: 70rem;
}

.header-title {
  font-family: Impact, Charcoal, sans-serif;
  color: var(--spekken-pink);
  font-size: 10rem;
  text-transform: uppercase;
  margin-left: 50%;
  padding-top: 30rem;
}

.info {
  margin: 10rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nobanner, .agenda-section, .nieuws-section {
  width: 95%;
  margin: 12rem auto;
}

.over-tagline, .over-facebook {
  font-size: 3rem;
  text-align: center;
  line-height: 4rem;
  font-weight: bold;
}

.over-tagline {
  width: 57rem;
  margin-left: 3rem;
  background:
    url(../assets/img/tagline-beans-left.png) no-repeat left top,
    url(../assets/img/tagline-beans-right.png) no-repeat right bottom;
  padding: 3rem 11rem 12rem 7rem;
}

.over-facebook {
  width: 50rem;
  margin-right: 15rem;
  background:
    url(../assets/img/fb-beans-left.png) no-repeat left top,
    url(../assets/img/fb-beans-right.png) no-repeat right bottom;
  padding: 18rem 2rem 7rem 3rem;
  position: relative;
  top: -5rem;

  & p {
    margin-bottom: 5rem;
  }
}

.over-tinnenpot, .over-spekken {
  width: 67rem;
  background: linear-gradient(80deg, #e9e896, #44eff2);
  box-shadow: 0 0 20px rgba(0, 0, 0, .5);

  & h2 {
    color: var(--spekken-pink);
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: bold;
  }

  & a {
    color: var(--spekken-pink);
    font-size: 2.2rem;
  }
}

.over-tinnenpot {
  height: 40rem;

  & h2 {
    width: 70%;
    margin: 6rem auto 3rem;
  }

  & p {
    width: 70%;
    font-size: 2.5rem;
    margin: 5rem auto;
    line-height: 3rem;
  }

  & a {
    margin-left: 10rem;
  }
}

.over-spekken {
  height: 53rem;
  position: relative;
  right: 10rem;

  & h2 {
    width: 75%;
    margin: 10rem auto 4rem;
  }

  & p {
    width: 75%;
    font-size: 2rem;
    margin: 3rem auto;
    line-height: 2.5rem;
  }

  & a {
    margin-left: 8rem;
  }
}

.pinkbanner {
  background-color: #ff5ab9;

  &::before {
    content: '';
    width: 20rem;
    height: 18rem;
    background: url(../assets/img/bannercandy.png) no-repeat top left;
    position: relative;
    top: -25rem;
    left: 3rem;
  }
}

.fbLink {
  color: #3b5998;
  text-decoration: none;
  font-weight: bold;

  &:hover {
    color: #2d4373;
  }
}

.agenda-title {
  background: url(../assets/img/agenda_title.png) no-repeat;
  width: 113rem;
  height: 6rem;
}

.nieuws-title {
  background: url(../assets/img/nieuws_title.png) no-repeat left bottom, url(../assets/img/nieuws-candy.png) no-repeat right top;
  width: 45rem;
  height: 10rem;
}

.agenda-link, .blog-link {
  border-radius: 30px;
  background-color: var(--spekken-pink);

  & a {
    color: #f0eef1;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
  }

  &:hover {
    background-color: var(--hover-pink);
  }
}

.agenda-link {
  padding: 2rem 0;
  width: 41rem;
  margin: 3rem auto;

  & a {
    margin-left: 7rem;
  }
}

.agenda-detail-link {
  text-decoration: none;
}

.agenda-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 5rem auto;
}

.agenda-item {
  width: 32rem;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  color: var(--spekken-pink);
  font-weight: bold;

  &-img {
    order: -1;
  }

  &-title {
    text-transform: uppercase;
    font-size: 2.5rem;
    margin-left: 2rem;
    position: relative;
    bottom: 5rem;
  }

  &-info {
    font-size: 2rem;
    line-height: 3rem;
    margin-left: 2rem;
    position: relative;
    bottom: 4rem;
  }

  &-date {
    font-size: 6rem;
    color: var(--white);
    text-align: right;
    text-shadow: 0 0 20px rgba(0, 0, 0, .5);
    position: relative;
    bottom: 7rem;
    right: 1rem;
  }

  &-link {
    background-color: #44eff2;
    align-self: center;
    padding: 1rem 3.5rem;
    border-radius: 10px;

    & a {
      color: var(--white);
      text-decoration: none;
    }
  }
}

.agenda-pagina-title {
  margin-top: 5rem;
  background: url(../assets/img/agenda.png) no-repeat;
  height: 6rem;
  width: 34rem;
}

.blog-link {
  padding: 1.3rem 0;
  width: 30rem;
  margin-top: 5rem;
  margin-left: -15rem;

  & a {
    margin-left: 4rem;
  }
}

.blog-article {
  margin: 5rem 0;
  display: flex;
  align-items: center;

  & h2 {
    color: var(--spekken-pink);
    font-size: 3rem;
    font-weight: bold;
    margin: 0 3rem 3rem;
  }

  & p {
    width: 45%;
    line-height: 2rem;
    margin-left: 3rem;
  }
}

.blog-article-link {
  color: var(--spekken-pink);
  font-weight: bold;
  text-decoration: none;

  &:hover {
    color: var(--hover-pink);
  }
}

.blogpicture {
  order: -99;
}

footer {
  background-color: #fdd4fc;
  line-height: 2rem;

  & h2 {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

}

.footer {
  width: 90%;
  margin: 0 auto;
  padding: 5rem 0;
  display: flex;
  justify-content: space-between;

  &::after {
    content: '';
    width: 13rem;
    height: 13rem;
    background: url(../assets/img/footer-candy.png) no-repeat top right;
    position: relative;
    top: -12rem;
    left: 6rem;
  }
}

.footer-title {
  width: 17rem;
  height: 4.5rem;
  background: url(../assets/img/logo-footer.png) no-repeat;
  margin-bottom: 5rem;
}

strong {
  font-weight: bold;
  font-size: 2rem;
}

.footer-nav {
  width: 40%;
  margin-left: 10%;
  display: flex;
  justify-content: space-between;

  &-title {
    text-transform: uppercase;
  }

  &-item {
    text-decoration: none;
    color: black;

    &:hover {
      color: var(--spekken-pink);
    }
  }
}

.footer-fb {
  width: 16%;
  margin-left: 10%;
}

.filters {
  width: 80%;
  margin: 5rem auto;
}

.periodes {
  width: 100%;
  height: 7rem;
  background-color: #44eff2;
  border: none;
  font-size: 3.5rem;
  text-align-last: center;
  text-transform: uppercase;
  color: var(--white);

}

.detail-breadcrumbs {
  color: var(--spekken-pink);
  font-size: 2.5rem;
  margin: 3rem 0;
  font-weight: bold;
  text-transform: uppercase;
}

.breadcrumb {
  color: var(--spekken-pink);
  text-decoration: none;

  &:hover {
    color: var(--hover-pink);
  }
}

.detail-top-flex {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail-praktisch {
  height: 30rem;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
}

.praktisch-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

h3 {
  color: transparent;
  background: linear-gradient(80deg, #e9e896, #44eff2);
  font-size: 4rem;
  font-weight: bold;
  -webkit-background-clip: text; /* stylelint-disable-line */
  padding-bottom: 1rem;
}

.praktisch-icons {
  display: flex;

  & img {
    margin-right: 3rem;
  }
}

.detail-title {
  color: var(--spekken-pink);
  font-size: 6rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 5rem 0;
}

.detail-description {
  margin-bottom: 10rem;
  width: 70%;

  & a {
    color: var(--spekken-pink);
    font-weight: bold;
  }
}
